.underpage{
    
    text-align: center;
    padding: 25px; ;
    background-size: cover;


}
#page10{background-color: aqua;}
#page50{background-color: chocolate;}
#page100{background-color: lightcoral;}
#page500{background-color: crimson;}
#year4{background-color: rgb(239, 141, 13);}


#mainpage{
    background-color: rgb(0, 170, 255);
    text-align: center;
    padding: 25px; ;
    background-size: cover;


}
.btn{
    background-color: chartreuse;
    padding: 5px;
    margin: 20px;
    border-radius:10px ;
    height: 50px;
    width: 100px ;


}

#homebtn{
    background-color: greenyellow;
    padding: 5px ;
    margin: 20px;
    border-radius: 10px;
    height: 50px ;
    width: 200px;



}
#myinput{
    font-size: 2em;
    border-radius: 25px;
    height: 4em;
    width: 6em;
    color: rgb(0, 37, 28) }

#dis {
      color:darkgreen;
      font-size: 50px;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
   color:blue;
   
text-shadow: -3px 3px #dd0000 ;


}

h2{
    color: rgb(235, 196, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#guessgamebtn{
 
    border: dotted black 5px  ;
    padding:10px ;
    margin:10px ;

}
#mathgamebtn{
    border: dotted black 5px  ;
    padding:10px ;
    margin:10px ;


}
